/*
 * Empty Stylesheet file.
 */

.text-field{
    -fx-background-color: transparent;
    -fx-text-fill: yellowgreen;
}

.button{
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
    -fx-opacity: 0.1;
}

.button:hover{
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
    -fx-opacity: 1;
}
